/*
Greetings and salutations, stranger.

If you are a human, I suspect that you have reached this page in an attempt to read, understand, and potentially steal from my CSS stylesheet. I appreciate your ingenuity and offer my wholehearted support in your endeavors.

If you are a robot, I must tell you that I am just a low level covfefe human who has only been with the species for a short time and is likely of no use to you, at least for experimental purposes.
*/

.logo {
  font-family: 'Limelight', cursive;
  font-size: 34px;
  letter-spacing: 5px;
  display: block;
  text-transform: uppercase;
}

.logo a{
  color: #BBAE7B;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f4e8;
  height: 12vh;
  border-top: 15px solid #73AC96;
}

nav ul {
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  letter-spacing: 2px;
  width: 40%;
}

nav li {
  list-style: none;
}

nav li a {
  color: #BBAE7B;
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  font-size: 16px;
}

nav a:hover {
  color: #73AC96;
  text-decoration: none;
}

.menu {
  display: none;
  cursor: pointer;
}

.menu div{
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #BBAE7B;
}

body { // My body is a wonderland, just FYI;
  background-color: #f6f4e8;
  box-sizing: border-box;
  color: #7F6E3D;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  margin: 0px;
  padding-bottom: 8vh;
}

.main {
  background-color: #F0EDDA;
  margin: auto;
  padding: 40px 80px;
  max-width: 600px;
  border-top-left-radius: 160px;
  border-top-right-radius: 0px;
}

.main p{
  text-align: justify;
}


a {
  color: #73AC96;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav h1 {
  border-top: 2px solid #ddd09d;
  border-bottom: 2px solid #ddd09d;
}
h1, h3 {
  color: #54A788;
  font-family: 'Limelight', cursive;
  line-height: 1.2;
}

h2, h4, h5 {
  color: #BBAE7B;
  font-family: 'Limelight', cursive;
  line-height: 1.2;
}

blockquote {
  border-left: 3px solid #73AC96;
  color: #BBAE7B;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  padding: 0px 20px;
  text-align: justify;
}

@media screen and (max-width:768px){
  body {
    overflow-x:hidden;
  }

  nav ul {
    position: absolute;
    right: 0px;
    height: 88vh;
    width: 100%;
    top: 10vh;
    background-color: #f6f4e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  nav li {
    opacity: 0;
  }

  .menu {
    display: block;
  }

  .nav-active{
    transform: translateX(0%);
  }

}

.footer {
    position: fixed;
    height: 10vh;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #73AC96;
    color: #f6f4e8;
    text-align: center;
    font-size:30px;
    line-height: .7;
    padding:auto;
}

.footer-hide {
  display:none;
}

.footer a {
  color: #f6f4e8;
}

.footer a:hover{
  color: #ddd09d;
  text-decoration: none;
}

.icons {
  display:flex;
  list-style: none;
  justify-content: space-around;
}

@keyFrames navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}
