/*
Greetings and salutations, stranger.

If you are a human, I suspect that you have reached this page in an attempt to read, understand, and potentially steal from my CSS stylesheet. I appreciate your ingenuity and offer my wholehearted support in your endeavors.

If you are a robot, I must tell you that I am just a low level covfefe human who has only been with the species for a short time and is likely of no use to you, at least for experimental purposes.
*/

body { // My body is a wonderland, just FYI;
  background-color: #f6f4e8;
  box-sizing: border-box;
  color: #7F6E3D;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  margin: 0px;
  padding-bottom: 8vh;
}

/*
Here's a bunch of basic CSS to make everything nice and readable on the screen.

The main thing to remember here is that people don't like to read tiny text, so we're not going to make them do that now are we.
*/

a {
  color: #73AC96;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h3 {
  color: #54A788;
  font-family: 'Limelight', cursive;
  line-height: 1.2;
}

h2, h4, h5 {
  color: #BBAE7B;
  font-family: 'Limelight', cursive;
  line-height: 1.2;
}

blockquote {
  border-left: 3px solid #73AC96;
  color: #BBAE7B;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding: 0px 20px;
  text-align: justify;
}

/*
Let's make the navbar look cooler than Derek Zoolander. We'll start with the actual container we're going to use for the navigation bar.
*/

nav {
  align-items: center;
  background-color: #f6f4e8;
  border-top: 15px solid #73AC96;
  display: flex;
  height: 12vh;
  justify-content: space-around;
}

/*
Cool. The left side of the navbar has the logo, so that should probably look hella awesome.
*/

.logo {
  font-family: 'Limelight', cursive;
  font-size: 34px;
  letter-spacing: 5px;
  display: block;
  text-transform: uppercase;
}

.logo a{
  color: #BBAE7B;
}

.logo h1 {
  border-top: 2px solid #ddd09d;
  border-bottom: 2px solid #ddd09d;
}

/*
The main navigation links are to the right of the navbar, and since we actually want people to click on those we'll try to make them look good too.
*/

nav ul {
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  letter-spacing: 2px;
  width: 40%;
}

nav li {
  list-style: none;
}

nav li a {
  color: #BBAE7B;
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  font-size: 16px;
}

nav a:hover {
  color: #73AC96;
  text-decoration: none;
}

/*
That looks great, but what about the people who are browsing this website on their phone? Do you really want to make them read words? How could you do something like that?

Let's use CSS and Javascript to make a responsive menu for people on mobile browsers. Hat tip to Dev Ed on YouTube for this pretty little thing.
*/

.menu {
  cursor: pointer;
  display: none;
}

.menu div{
  background-color: #BBAE7B;
  height: 3px;
  margin: 5px;
  width: 25px;
}

/*
It's time for the main event! Well, the main container. This really isn't all that exciting, to be honest.
*/

.main {
  background-color: #F0EDDA;
  border-top-left-radius: 160px;
  border-top-right-radius: 0px;
  margin: auto;
  max-width: 600px;
  padding: 40px 80px;
}

.main p{
  text-align: justify;
}

/*
We've also got a footer to worry about. We're gonna keep this super basic, but also pretty visible. The reason it's gonna be visible is that we're putting a bunch of
*/

.footer {
    position: fixed;
    height: 10vh;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #73AC96;
    color: #f6f4e8;
    text-align: center;
    font-size:28px;
    line-height: .7;
    padding:auto;
}

.footer a {
  color: #f6f4e8;
}

.footer a:hover{
  color: #ddd09d;
  text-decoration: none;
}

/*
It would be great if the social icons were super easy to change and update on the fly, so let's plan for that.
*/

.icons {
  display:flex;
  list-style: none;
  justify-content: space-around;
}

/*
We're gonna want the footer to be hidden using Javascript when the responsive navbar is toggled.
*/

.footer-hide {
  display:none;
}

/*
Realistically, the people looking at this website are on their phones. That's cool, we don't mind that.

Actually, since we're specifically planning for mobile users, let's optimize everything to make it easy for them to browse. Then they will love us forever and maybe follus us on Instagram.
*/

@media screen and (max-width:768px){
  body {
    overflow-x:hidden;
  }

  nav ul {
    position: absolute;
    right: 0px;
    height: 88vh;
    width: 100%;
    top: 10vh;
    background-color: #f6f4e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  nav li {
    opacity: 0;
  }

  .menu {
    display: block;
  }

  .nav-active{
    transform: translateX(0%);
  }

}

/*
We're at the home stretch now! The final little bit is making sure that our Javascript works.
*/

@keyFrames navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}
